---
include-css:
    - "index"
include-js:
    - "index"
---

<div id="main-page-brand" class="jumbotron">
	<div id="main-page-brand-content" class="container">
		<h1	id="main-page-brand-title" class="text-center"><img id="main-page-brand-logo"
			class="eb-logo" src="/static/img/favicon/logo.png" style="width: 192px;" /><span id="main-page-brand-text" style="height: 192px; line-height: 192px;">ExE Boss</span></h1>
	</div>
</div>

<div class="container">
	<h2 class="text-center">Current Projects</h2>
	<div class="row justify-content-center">
		{% include index/project.html name="WebExtensions"
			description="All the WebExtensions that I've ever published"
			url="/web-extensions" icon="pastel/bricks-eb-color.png" col="5" %}
		{% include index/project.html name=""
			description="<p>NOVA (Neatly Organized Voxel API) is a modding framework for voxel games.</p>
			<p>It provides an abstraction that is easy to use and maintain while giving developers confidence
			that their work can be used across different voxel games and their versions.</p>" url="https://novaapi.net"
			icon_url="https://novaapi.net/static/img/NOVA.svg" icon_width="256px" col="5" %}
	</div>
	<hr/>
	<h2 class="text-center">Projects that I support<p><small>Projects that I am not directly involved with, but that I think are cool</small></p></h2>
	<div class="row justify-content-center">
		{% include index/project.html name="Elastic tabstops"
		description="A better way to indent and align code"
		url="http://nickgravgaard.com/elastic-tabstops" col="5" %}
	</div>
</div>
