---
layout:	default
title:	WebExtensions
---

<style>
	#carousel-1 {
		padding-top: 50px;
		margin-bottom: 50px;
	}
</style>

<div class="carousel slide" id="carousel-1" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carousel-1" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-1" data-slide-to="1"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		{% include web-extensions/carousel.html name="Firefox about:about Button" description="A Firefox exclusive WebExtension to quickly open about:* pages." AMO="firefox-about-button" icon="pastel/cog.png" active="true" %}
		{% include web-extensions/carousel.html name="View Image in New Tab" description="Adds the ‘View Image in New Tab’ context menu item to the Firefox Context Menu." AMO="new-tab-image_exe-boss" icon="pastel/picture-go.png" %}
	</div>
	<a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carousel-1" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<div class="container">
	<div class="row">
		{% include web-extensions/row.html name="Firefox about:about Button"
		description="A Firefox exclusive WebExtension to quickly open about:* pages."
		AMO="firefox-about-button" icon="pastel/cog.png" col="5" offset="1" %}

		{% include web-extensions/row.html name="View Image in New Tab"
		description="Adds the ‘View Image in New Tab’ context menu item to the Firefox Context Menu."
		AMO="new-tab-image_exe-boss" icon="pastel/picture-go.png" col="5" %}
	</div>
</div>
