---
title:	WebExtensions
include-css:
    - "web-extensions"
include-js:
    - "btn-group-variable"
---

<div class="carousel slide" id="carousel-1" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carousel-1" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-1" data-slide-to="1"></li>
		<li data-target="#carousel-1" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
	<div class="container">
		<div class="carousel-caption">
			<h1><img class="eb-icon" src="/static/img/pastel/bricks-eb-color.png" width="64px" />Extension Suite</h1>
			<p>
				All my published extensions are available as an Add-on collection for a quick and easy download.
			</p>
			<div class="eb-download-button-list">
				<!-- Mozilla Firefox -->
				<div class="btn-group" data-vertical="<xs">
					<a class="btn btn-success" href="https://addons.mozilla.org/firefox/collections/ExE_Boss/extension-suite">
						<img class="eb-icon" src="/static/img/pastel/firefox.png" height="20px" />Download for Firefox</a>
					<a class="btn btn-success" href="https://addons.mozilla.org/thunderbird/collections/ExE_Boss/extension-suite">
						<img class="eb-icon" src="/static/img/pastel/thunderbird.png" height="20px" />Download for Thunderbird</a>
				</div>

				<!-- Google Chrome -->
				<div class="btn-group"><span class="btn btn-primary disabled" data-toggle="tooltip" data-placement="top"
					title="No guarantees are made about this releasing before Half-Life 3">
						<i class="fa fa-chrome"></i> Coming soon to Chrome</span></div>

				<!-- Microsoft Edge -->
				<div class="btn-group"><span class="btn btn-info disabled" data-toggle="tooltip" data-placement="top"
					title="No guarantees are made about this releasing before Half-Life 3">
						<i class="fa fa-edge"></i> Coming soon to Edge</span></div>

				<!-- Opera -->
				<div class="btn-group"><span class="btn btn-danger disabled" data-toggle="tooltip" data-placement="top"
					title="No guarantees are made about this releasing before Half-Life 3">
						<i class="fa fa-opera"></i> Coming soon to Opera</span></div>
			</div>
		</div>
	</div>
</div>

		{% include web-extensions/carousel.html name="about:about Button"
		description="A WebExtension to quickly open about:* pages."
		AMO="firefox-about-button" soonChrome=true icon="pastel/cog.png" %}

		{% include web-extensions/carousel.html name="View Image in New Tab"
		description="Adds the ‘View Image in New Tab’ context menu item to the Firefox Context Menu."
		AMO="new-tab-image_exe-boss" soonEdge=true icon="pastel/picture-go.png" %}
	</div>
	<a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carousel-1" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
			<h2 class="text-center"><img class="eb-icon-above" src="/static/img/pastel/bricks-eb-color.png" width="96px" />Extension Suite</h2>
			<p>
				All my published extensions are available as an Add-on collection for a quick and easy download.
			</p>
			<div class="eb-download-button-list">
				<!-- Mozilla Firefox -->
				<div class="btn-group" data-vertical="<xs">
					<a class="btn btn-success" href="https://addons.mozilla.org/firefox/collections/ExE_Boss/extension-suite">
						<img class="eb-icon" src="/static/img/pastel/firefox.png" height="20px" />Download for Firefox</a>
					<a class="btn btn-success" href="https://addons.mozilla.org/thunderbird/collections/ExE_Boss/extension-suite">
						<img class="eb-icon" src="/static/img/pastel/thunderbird.png" height="20px" />Download for Thunderbird</a>
				</div>

				<!-- Google Chrome -->
				<div class="btn-group"><span class="btn btn-primary disabled" data-toggle="tooltip" data-placement="top"
					title="No guarantees are made about this releasing before Half-Life 3">
						<i class="fa fa-chrome"></i> Coming soon to Chrome</span></div>

				<!-- Microsoft Edge -->
				<div class="btn-group"><span class="btn btn-info disabled" data-toggle="tooltip" data-placement="top"
					title="No guarantees are made about this releasing before Half-Life 3">
						<i class="fa fa-edge"></i> Coming soon to Edge</span></div>

				<!-- Opera -->
				<div class="btn-group"><span class="btn btn-danger disabled" data-toggle="tooltip" data-placement="top"
					title="No guarantees are made about this releasing before Half-Life 3">
						<i class="fa fa-opera"></i> Coming soon to Opera</span></div>
			</div>
		</div>
	</div>
	<hr/>
	<div class="row">
		{% include web-extensions/extension.html name="about:about Button"
		description="A WebExtension to quickly open about:* pages."
		AMO="firefox-about-button" soonChrome=true icon="pastel/cog.png" col="5" offset="1" %}

		{% include web-extensions/extension.html name="View Image in New Tab"
		description="Adds the ‘View Image in New Tab’ context menu item to the browser’s Context Menu."
		AMO="new-tab-image_exe-boss" soonEdge=true icon="pastel/picture-go.png" col="5" %}

		{% include web-extensions/extension.html name="Application Menu"
		description="A WebExtension which adds the Application menu to the Firefox titlebar."
		AMO="application-menu" icon="pastel/firefox.png" col="6" offset="3" %}
	</div>
</div>
