<script>
	$(() => {
		document.getElementById("eb-global-footer-nickname-img").setAttribute("width",
			$("#eb-global-footer-nickname").width());
		$("body").css("padding-bottom", $("#eb-global-footer").outerHeight(true));
		$(window).resize(() => {
			document.getElementById("eb-global-footer-nickname-img").setAttribute("width",
				$("#eb-global-footer-nickname").width());
			$("body").css("padding-bottom", $("#eb-global-footer").outerHeight(true));
		});
	});
</script>

<footer id="eb-global-footer" class="footer text-center">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-offset-1">
					<h3 class="text-center">Around the web</h3>
					<ul class="list-inline eb-list-inline">
						<li><a class="btn btn-default btn-social" href="https://github.com/ExE-Boss/"><i class="fa fa-fw fa-github"></i></a></li>
						<li><a class="btn btn-default btn-social" href="https://steamcommunity.com/id/ExE_Boss"><i class="fa fa-fw fa-steam-square"></i></a></li>
						<li><a class="btn btn-default btn-social" href="https://twitter.com/ExE_Boss"><i class="fa fa-fw fa-twitter"></i></a></li>
						<li><a class="btn btn-default btn-social" href="https://www.youtube.com/user/ExEBoss"><i class="fa fa-fw fa-youtube-play"></i></a></li>
						<li><a class="btn btn-default btn-social" href="https://www.twitch.tv/ExE_Boss"><i class="fa fa-fw fa-twitch"></i></a></li>
						<li><a class="btn btn-default btn-social" href="https://ExEBoss.deviantart.com/"><i class="fa fa-fw fa-deviantart"></i></a></li>
						<li><a class="btn btn-default btn-social" href="https://www.reddit.com/user/ExE_Boss"><i class="fa fa-fw fa-reddit"></i></a></li>
						<li><a class="btn btn-default btn-social" href="https://stackexchange.com/users/7002403/exe-boss"><i class="fa fa-fw fa-stack-exchange"></i></a></li>
						<li><a class="btn btn-default btn-social" href="https://en.wikipedia.org/wiki/User:ExE_Boss"><i class="fa fa-fw fa-wikipedia-w"></i></a></li>
						<li><a class="btn btn-default btn-social-text" href="https://vid.me/ExE_Boss">Vidme</a></li>
						<li><a class="btn btn-default btn-social" href="https://plus.google.com/+ExEBoss"><i class="fa fa-fw fa-google-plus-official"></i></a></li>
					</ul>
					<div class="eb-icon-above"><a href="https://steamcommunity.com/id/ExE_Boss">
					<img	id="eb-global-footer-steam-img" alt="Steam profile" src="https://steamsignature.com/card/1/76561198026795085.png"
						title="SteamSignature.com does not yet support HTTPS (unless it does now)" /></a></div>
					<a href="http://steamsignature.com">Image provided by SteamSignature.com</a>
				</div>
				<div id="eb-global-footer-nickname" class="col-md-5">
					<h3 class="text-center">Nickname Certificate</h3>
					<div class="eb-icon-above"><a href="https://nick-name.ru/nickname/id1270596/">
						<img	id="eb-global-footer-nickname-img" alt="Certificate for nickname ExE Boss, is registered to: https://ExE-Boss.GitHub.io"
							src="https://nick-name.ru/img.php?id=1270596&amp;sert=1" border="0" /></a></div>
					<a href="https://nick-name.ru">Internet nickname registry</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="containder">
			<div class="row">
				<div class="col-lg-12">
					Copyright &copy; 2017 ExE Boss<br/>
					'ExE Boss' is a proprietary trademark owned by ExE Boss
				</div>
			</div>
		</div>
	</div>
</footer>