<footer id="eb-global-footer" class="footer text-center">
	<div class="footer-top">
		<div class="container">
			<div class="row justify-content-center">
				<div id="eb-global-footer-social" class="col-md-5 col-sm-6 col-12">
					<h3 class="text-center">Around the web</h3>
					<ul class="list-inline eb-list-inline">
						{% include footer/btn-social.html href="https://github.com/ExE-Boss/" icon="github" %}
						{% include footer/btn-social.html href="https://steamcommunity.com/id/ExE_Boss" icon="steam-square" %}
						{% include footer/btn-social.html href="https://www.nexusmods.com/users/16083509" display="text" text="Nexus" %}
						{% include footer/btn-social.html href="https://twitter.com/ExE_Boss" icon="twitter" %}
						{% include footer/btn-social.html href="https://addons.mozilla.org/firefox/user/ExE_Boss/" icon="firefox" %}
						{% include footer/btn-social.html href="https://www.youtube.com/user/ExEBoss" icon="youtube-play" %}
						{% include footer/btn-social.html href="https://www.twitch.tv/ExE_Boss" icon="twitch" %}
						{% include footer/btn-social.html href="https://ExEBoss.deviantart.com/" icon="deviantart" %}
						{% include footer/btn-social.html href="https://www.reddit.com/user/ExE_Boss" icon="reddit" %}
						{% include footer/btn-social.html href="https://stackexchange.com/users/7002403/exe-boss" icon="stack-exchange" %}
						{% include footer/btn-social.html href="https://en.wikipedia.org/wiki/User:ExE_Boss" icon="wikipedia-w" %}
						{% include footer/btn-social.html href="https://vid.me/ExE_Boss" display="text" text="Vidme" %}
						{% include footer/btn-social.html href="https://plus.google.com/+ExEBoss" icon="google-plus-official" %}
						{% include footer/btn-social.html href="https://www.smwcentral.net/?p=profile&amp;id=26043" display="text" linecount="2" text='<span class="c-red">S</span><span class="c-green">M</span><span class="c-yellow">W</span><small><span class="c-blue">C</span><span class="c-yellow">E</span><span class="c-red">N</span><span class="c-green">T</span><span class="c-yellow">R</span><span class="c-blue">A</span><span class="c-green">L</span></small>' %}
					</ul>
					<div class="eb-icon-above">
						<a href="https://steamcommunity.com/id/ExE_Boss">
							<img id="eb-global-footer-steam-img" alt="Steam profile" src="https://steamsignature.com/card/1/76561198026795085.png" />
						</a>
					</div>
					<a href="https://steamsignature.com">Image provided by SteamSignature.com</a>
				</div>
				<div id="eb-global-footer-nickname" class="col-md-5 col-sm-6 col-12">
					<h3 class="text-center">Nickname Certificate</h3>
					<div class="eb-icon-above">
						<a href="https://nick-name.ru/en/nickname/ExE_Boss/">
							<img id="eb-global-footer-nickname-img" alt="Certificate for nickname ExE Boss, is registered to: https://ExE-Boss.tech" src="https://nick-name.ru/img.php?id=1270596&amp;sert=1" />
						</a>
					</div>
					<a href="https://nick-name.ru">Internet nickname registry</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="containder">
			<div class="row">
				<div class="col-lg-12">
					Copyright © 2017 ExE Boss<br/>
					'ExE Boss' is a proprietary trademark owned by ExE Boss
				</div>
			</div>
		</div>
	</div>
</footer>
