<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{ site.description }}" />
<meta name="author" content="{{ site.author }}" />
{% include content-security-policy.html %}
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{% unless page.url == '/' %}{{ page.url | remove: '.html' }}{% endunless %}" />

<link rel="icon" href="/static/img/favicon/desktop.ico" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha512-J6lfzvaWkmuRpFY1mCzmz8lAm3dHKdmtlHF4pkiwGIceWUTDBHc4pDjxAgEfk+VMRTqNQx2lF20qo4+0SJSUKQ==" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="/static/css/eb-theme.css" />

<script type="application/javascript" defer="true" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" integrity="sha512-M+qMI1PHRcYcOpJzeJlaWbVVx2JJyPIwZas8or7dc97LZOokjvbpfRxymhVtlJLyjiF3wGyr0FJOA4DLONLVLw==" crossorigin="anonymous"></script>
<script type="application/javascript" defer="true" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha512-4PY6wFg3IWfTmdkT3yftviJKO6rAyV0uthLXNqBxHfHE92JPS8UcE4SJWNSS4XILOFb8SoaoomeTox8xxPwNWA==" crossorigin="anonymous"></script>
<script type="application/javascript" defer="true" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha512-pgGHFWjBtbKHTTDW5buGZ9mU0nGfxNavf5kWK/Od2ugA//9FuMHAunkAiMe5jeL/5WW1r0UxwKi6D5LpMOJD3w==" crossorigin="anonymous"></script>
<script type="application/javascript" defer="true" src="/static/js/eb-util.js"></script>
<script type="application/javascript" defer="true" src="/static/js/includes/global.js"></script>
<script type="application/javascript" defer="true" src="/static/js/includes/favicon.js"></script>
<noscript id="global-head-link-icons-end"><link rel="apple-touch-icon-precomposed" href="/static/img/favicon/apple.png"/></noscript>
{% if page.include-css %}
{% for page-css in page.include-css %}<link rel="stylesheet" type="text/css" href="/static/css/includes/{{ page-css }}.css" />
{% endfor %}{% endif %}{% if page.include-js %}
{% for page-js in page.include-js %}<script type="application/javascript" defer="true" src="/static/js/includes/{{ page-js }}.js"></script>
{% endfor %}{% endif %}{% if page.include-footer and page.include-footer != "false" %}
<link rel="stylesheet" type="text/css" href="/static/css/includes/footer.css" />
{% endif %}