<nav id="eb-global-navbar" class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#eb-global-navbar-menu">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand eb-brand" href="/"><img class="eb-icon" src="/static/img/favicon/logo.png" height="40px" />ExE Boss</a>
		</div>
		<div class="collapse navbar-collapse" id="eb-global-navbar-menu">
			<ul class="nav navbar-nav navbar-left">
				<li><a href="https://github.com/ExE-Boss"><i class="fa fa-github"></i> Fork me on GitHub</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="hidden"><a href="#page-top"></a></li>
				<li><a href="/web-extensions"><img class="eb-icon" src="/static/img/pastel/bricks-eb-color.png" height="20px" />WebExtensions</a></li>
				<li><a href="/specifications"><img class="eb-icon" src="/static/img/pastel/report.png" height="20px" />Specifications</a></li>
			</ul>
		</div>
	</div>
</nav>
