<nav id="eb-global-navbar" class="navbar navbar-expand-md navbar-light bg-light fixed-top">
	<div class="container">
		<a class="navbar-brand" href="/"><img class="d-inline-block" src="/static/img/favicon/logo.png" />ExE Boss</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#eb-global-navbar-menu" aria-controls="eb-global-navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="eb-global-navbar-menu">
			<ul class="nav navbar-nav mr-auto">
				<li class="nav-item"><a href="https://github.com/ExE-Boss" class="nav-link"><i class="fa fa-github"></i> Fork me on GitHub</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li class="nav-item"><a href="/web-extensions" class="nav-link"><img class="eb-icon" src="/static/img/pastel/bricks-eb-color.png" height="20px" />WebExtensions</a></li>
				<li class="nav-item"><a href="/specifications" class="nav-link"><img class="eb-icon" src="/static/img/pastel/report.png" height="20px" />Specifications</a></li>
			</ul>
		</div>
	</div>
</nav>
