<div class="carousel-item">
	<div class="container">
		<div class="carousel-caption">
			<h1><img class="eb-icon" src="{{ site.baseurl }}/static/img/{{ include.icon }}" width="64px" />{{ include.name }}</h1>
			{% unless include.description contains "<p>" %}<p>{% endunless %}
				{{- include.description }}
			{%- unless include.description contains "</p>" %}</p>{% endunless %}
			{% include web-extensions/download-button-list.html
				AMO=include.AMO soonAMO=include.soonAMO
				Thunderbird=include.Thunderbird soonThunderbird=include.soonThunderbird
				Chrome=include.Chrome soonChrome=include.soonChrome
				Edge=include.Edge soonEdge=include.soonEdge
				Opera=include.Opera soonOpera=include.soonOpera
			-%}
		</div>
	</div>
</div>
