<div class="col-md-{{ include.col }}{% if include.offset %} col-md-offset-{{ include.offset }}{% endif %} text-center">
	<h2 class="text-center"><img class="eb-icon-above" src="/static/img/{{ include.icon }}" width="96px" />{{ include.name }}</h2>
	<p>
	{{ include.description }}
	</p>
	<div class="eb-download-button-list">
		{% if include.AMO %}
		<!-- Mozilla Firefox -->
		<div class="btn-group">
			<a class="btn btn-success" href="https://addons.mozilla.org/firefox/addon/{{ include.AMO }}/">
				<img class="eb-icon" src="/static/img/pastel/firefox.png" height="20px" />Download for Firefox</a>
			{% if include.Thunderbird %}
			<a class="btn btn-success" href="https://addons.mozilla.org/thunderbird/addon/{{ include.Thunderbird }}/">
				<img class="eb-icon" src="/static/img/pastel/thunderbird.png" height="20px" />Download for Thunderbird</a>
			{% elsif include.soonThunderbird %}
			<span class="btn btn-success disabled" data-toggle="tooltip" data-placement="top"
				title="No guarantees are made about this releasing before Half-Life 3">
					<img class="eb-icon" src="/static/img/pastel/thunderbird.png" height="20px" />Coming soon to Thunderbird</span>
			{% endif %}
		</div>
		{% elsif include.soonAMO %}
		<!-- Mozilla Firefox -->
		<div class="btn-group">
			<span class="btn btn-success disabled" data-toggle="tooltip" data-placement="top"
				title="No guarantees are made about this releasing before Half-Life 3">
					<img class="eb-logo" src="/static/img/pastel/firefox.png" height="20px" />Coming soon to Firefox</span>
			{% if include.Thunderbird %}
			<a class="btn btn-success" href="https://addons.mozilla.org/thunderbird/addon/{{ include.Thunderbird }}/">
				<img class="eb-icon" src="/static/img/pastel/thunderbird.png" height="20px" />Download for Thunderbird</a>
			{% elsif include.soonThunderbird %}
			<span class="btn btn-success disabled" data-toggle="tooltip" data-placement="top"
				title="No guarantees are made about this releasing before Half-Life 3">
					<img class="eb-icon" src="/static/img/pastel/thunderbird.png" height="20px" />Coming soon to Thunderbird</span>
			{% endif %}
		</div>
		{% endif %}

		{% if include.Chrome %}
		<!-- Google Chrome -->
		<div class="btn-group"><a class="btn btn-primary" href="https://chrome.google.com/webstore/detail/{{ include.Chrome }}">
				<i class="fa fa-chrome"></i> Download for Chrome</a></div>
		{% elsif include.soonChrome %}
		<!-- Google Chrome -->
		<div class="btn-group"><span class="btn btn-primary disabled" data-toggle="tooltip" data-placement="top"
			title="No guarantees are made about this releasing before Half-Life 3">
				<i class="fa fa-chrome"></i> Coming soon to Chrome</span></div>
		{% endif %}

		{% if include.Edge %}
		<!-- Microsoft Edge -->
		<div class="btn-group"><a class="btn btn-info" href="ms-windows-store://pdp/?ProductId={{ include.Edge }}">
				<i class="fa fa-edge"></i> Download for Edge</a></div>
		{% elsif include.soonEdge %}
		<!-- Microsoft Edge -->
		<div class="btn-group"><span class="btn btn-info disabled" data-toggle="tooltip" data-placement="top"
			title="No guarantees are made about this releasing before Half-Life 3">
				<i class="fa fa-edge"></i> Coming soon to Edge</span></div>
		{% endif %}

		{% if include.Opera %}
		<!-- Opera -->
		<div class="btn-group"><a class="btn btn-danger" href="https://addons.opera.com/en/extensions/details/{{ include.Opera }}/">
				<i class="fa fa-opera"></i> Download for Opera</a></div>
		{% elsif include.soonOpera %}
		<!-- Opera -->
		<div class="btn-group"><span class="btn btn-danger disabled" data-toggle="tooltip" data-placement="top"
			title="No guarantees are made about this releasing before Half-Life 3">
				<i class="fa fa-opera"></i> Coming soon to Opera</span></div>
		{% endif %}
	</div>
</div>
