<div class="col-md-{{ include.col }} text-center">
	<h3 class="text-center"><img class="eb-icon-above"
		{%- if include.icon_url %} src="{{ include.icon_url }}"
		{%- elsif include.icon %} src="/static/img/{{ include.icon }}"
		{%- endif %} width="{% if include.icon_width %}{{ include.icon_width }}{% else %}96px{% endif %}" />
		{{- include.name }}</h3>
	{% unless include.description contains "<p>" %}<p>{% endunless %}
		{{- include.description }}
	{%- unless include.description contains "</p>" %}</p>{% endunless %}
	{%- if include.url %}
	<div><a class="btn btn-info" href="{{ include.url }}">Project Home Page »</a></div>
	{%- endif %}
</div>
